<h1>Welcome, <%= current_user.username %></h1>
<p>You're following: <%= current_user.followed_usernames %></p>
<hr>
<% current_user.followed_posts.each do |post| %>
  <article>
    <p><%= post.body %></p>
    <footer>
      Posted by 
      <address><%= post.user.username %></address>
      <time><%= time_ago_in_words(post.created_at) %> ago</time>
    </footer>
  </article>
<% end %>
